
ion-toolbar {
    --background:#000000;
    --color:#fff;
}
ion-content {
  --background:#000;
}

ion-card {
    --background: #1d1e1f;
    --color:#fff;
    margin-bottom: 35px;
    border-radius: 20px;
  }

ion-content {
    border-radius: 2px;}

    .horizontal-menu {
        display: flex;
        flex-direction: row; /* Horizontal alignment */
        justify-content: space-between; /* Adjust alignment as needed */
        align-items: center; /* Center items vertically */
        padding: 0; /* Remove default list padding */
        list-style: none; /* Remove list bullets */
      }
      
      .horizontal-menu ion-item {
        margin: 0; /* Remove item margin */
        flex: 1; /* Distribute space equally among items */
        text-align: center; /* Center text horizontally */
      }
      .minero-image {
        width: 110px; /* Set the desired width */
        height: auto;/* Maintain aspect ratio */
        /* You can adjust the width and height as needed */
      }
      .loo-image {
        width: 87px; /* Set the desired width */
        height: auto;/* Maintain aspect ratio */
        /* You can adjust the width and height as needed */
      }
      .custom-card-title {
        color: #5CE009;
        align-items: center; 
      }
      .poppins-text {
        font-family: 'Poppins', sans-serif;
        /* You can also specify fallback fonts here */
      }
      .mat-image {
        width: 1000px; /* Set the desired width */
        height: auto;/* Maintain aspect ratio */
        /* You can adjust the width and height as needed */
      }
      table {
        border-collapse: collapse;
        width: 100%;
      }
      
      td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
      }
      
      /* Hide the table by default */
      table.hidden {
        display: none;
      }
      .custom-title {
        display: flex;
        align-items: center;
      }
      
      .custom-title img {
        max-width: 50px; /* Adjust the width as needed */
        height: auto; /* Maintain aspect ratio */
        margin-right: 20px; /* Add spacing between the image and text */
      }
      .ButtoSave {
        --background: #5CE009 !important;
        box-shadow: #5ce009c4 0px 0px 10px 3px;
        font-size: 0.7rem;
        color: #000;
        font-weight: bold
      }
      .ButtoSaveg {
        background-color: transparent !important;
        border: 1.7px solid #5CE009;
        font-size: 0.7rem;
        color: #5CE009;
        font-weight: bold
        
      }
      .medical-resume-table {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%; /* Adjust the height as needed */
      }
      
      .vertical-align-center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%; /* Adjust the height as needed */
      }
